#btn1{
	width: 180px;
}

#nav1{
	dei
}

div.vertical-line{
     
    }



    .employeeprofilecard{
    	
    	background: <?php  echo $Topnavbar; ?>
      
    }
    
.employeeprofilecard {
    font-size: 18px;
    padding: 20px;
    /*margin: 10px;*/
    width: 700px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(2,2,2,2.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.employeeprofilecard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


    .employe img{

    	width: 180px;
    	height: 190px;

    }

    #jobtitle{
    	
    	font-size: 15px;

    }

    #Jobdesc{
    		
   font-size: 15px;
    }

    #joblocation{

    	font-size: 15px;
    	color: gray;
    }

    .btn3 button{
    	
  display: inline-block;
  height: 40px;
  width: 150px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  background-color: #428bca;
  cursor: pointer;
  outline: none;
    }

    .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
